:root {
  --nsw-brand-dark: #002664;
  --nsw-font-bold: 700;
  --nsw-line-height-sm-mobile: 1.5;
  --nsw-font-size-sm-mobile: 1rem;
  --nsw-border-radius: 0.25rem;
  --nsw-palette-white: #ffffff;
  --nsw-white: #ffffff;
  --nsw-palette-grey-01: #22272b;
  --nsw-text-dark: #22272b;
  --nsw-grey-01: #22272b;
  --nsw-focus: #0085b3;
  --nsw-palette-focus: #0085b3;
  --nsw-palette-hover: rgba(0, 133, 179, 0.2);
  --nsw-palette-off-white: #f2f2f2;

  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;

  color: #22272b;
}

button {
  font-size: 1em;
  line-height: 1.5;
  border-radius: 0.25rem;
  font-weight: 700;
  border: solid 2px transparent;
  white-space: normal;
  text-decoration: none;
  padding: 0.625rem 1.375rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  color: #ffffff;
  background-color: #002664;
}
button:hover {
  border-color: transparent;
  background-color: rgba(0, 38, 100, 0.85);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="text"],
input[type="number"] {
  font-size: var(--nsw-font-size-sm-mobile);
  line-height: var(--nsw-line-height-sm-mobile);
  padding: 0.6875rem 1rem;
  border-radius: var(--nsw-border-radius);
  background-color: var(--nsw-white);
  color: var(--nsw-text-dark);
  border: 1px solid var(--nsw-grey-01);
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
}

input[type="number"] {
  width: 10%;
}

input:focus {
  border-color: var(--nsw-palette-focus);
}

input:hover {
  background-color: var(--nsw-palette-hover);
}
